{{!-- {{#if loggedIn}} --}}

<div class="container overflow-hidden">
    <div class="row g-5">
        <div class="col-md-4 d-flex justify-content-center">
            <div class="p-1 border bg-light portrait"><img src="/images/{{User.portrait}}">
            </div>
        </div>
        {{!-- developer description card --}}
        <div class="col-md-8 d-flex align-items-center user-desc">
            <div class="p-1">
                <h2 class='user-name'>{{User.name}}</h2>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet obcaecati unde, hic qui perspiciatis
                    nihil, placeat dolores ipsum dicta numquam quia, deserunt architecto mollitia cupiditate fugiat
                    exercitationem illo voluptatum quidem!
                </p>
                <hr>
                <div class='contact-link'>
                    <a href="{{User.email}}">{{User.email}}</a>
                    <a href="{{User.portfolio}}">My portfolio</a>
                    <a href="{{User.github}}">github <i class="fab fa-github"></i></a>
                </div>
            </div>
        </div>

        {{!-- guest comment card --}}
        <div class="col-md-6">
            <div class="p-1 border comment-card">
                <div class="title d-flex">
                    <h3>Please leave a comment:</h3>
                    <button id="submitB" class="btn">Submit</button>
                </div>

                <div class="input-group comment-card">
                    <textarea id="form-control" aria-label="With textarea"></textarea>
                </div>
            </div>
        </div>

        {{!-- comment/review card --}}
        <div class="col-md-6">
            <div class="p-1 border comment-card">
                <h3 class="title">Most Recent Comments:</h3>
                <div class="comment-card">
                    <span>{{Guest.name}}</span>
                    <span>{{Guest.comment}}</span>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="../js/homefunction.js"></script>

{{!-- {{else}}
<a href="/login">You must login first to view this page</a>
{{/if}} --}}